.table-header{
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 4rem;
    margin-bottom: 0rem;
    border-bottom: 1px solid #000000;
    
}

.table-header h2{
    flex-basis: calc(24.975% - 1rem);
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
}

