:root {
    --verdeBoton: #439889;
    --blanco: #ffffff;
    --azul: #10b5d3;
    --rojo: #db1111;
    --verde: #19e74d;
}

.btn {
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    font-weight: 400;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: var(--verdeBoton);
    padding: .5rem 3rem;
    color: #ffffff;
    font-size: 1.8rem; 
}

.btn-small-circle{
    padding: 0rem;
    border-radius: 100%;
}

.btn-circle{
    padding: .05rem;
}

@media (min-width: 680px){
    .btn-circle{
        padding: .5rem;
    }   
}

@media (min-width: 968px){
    .btn-circle{
        padding: 1rem;
    }   
}

.sesion{
    margin:0;
    display: flex; 
    justify-content: center; 
    align-items: center;
    gap: 0.5rem;
}

.sesion p{
    font-size: 1.4rem;
    text-transform: uppercase;
    flex: 0 0 calc(80% - 1rem);
}

@media (min-width: 486px){
    .sesion p{
        font-size: 1.8rem;
    }
}

.sesion img{
    flex: 0 0 calc(10% - 1rem);
}

.btn:hover {
    transform: translateY(-3px);
}

.azul{
    background-color: var(--azul);
    color: var(--blanco);
}

.rojo{
    background-color: var(--rojo);
    color: var(--blanco);
}

.verde{
    background-color: var(--verde);
    color: var(--blanco);
}

.blanco{
    background-color: var(--blanco);
    color: var(--verde);
}

.transparent{
    background-color:#ffffff3f;
    border: 1px solid #00000078;
}