/* buscador */
.buscador {
    display: flex;
    width: 100%;
    margin: 1rem 3rem;
}

.input {
    background-color: #004d40;
    color: #ffffff;
    font-size: 2rem;
    width: 100%;
    border-radius: 3rem;
    border: none;
    outline: none;
    padding: 2rem;
}

.divboton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    /* flex-direction: row-reverse; */
}

