.header-bg {
    background-color: #00695c;
    color: #ffffff;
}

.header-ct {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%;
}

.header-ct > *{
    margin: 1rem 0;
    width: 95%;
}

@media (min-width: 486px){
    .header-ct {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2rem;
    }
    
    .header-ct > *{
        margin: .5rem 0;
        width: auto;
    }
}

.saludo{

}

.header-h2{
    font-size: 1.8rem;
    text-align: center;
}

@media (min-width: 968px){
    .header-h2{
        font-size: 2.8rem;
    }
}

.btn-inicio{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    justify-content: center;
    background-color: #439889;
    padding: 1rem 2rem ;
    border: 1px solid #3131319d;
    border-radius: 5rem;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-inicio:hover{
    transform: translateY(-.3rem);
    border: none;
}