.header-background {
    background-color: #00695c;
    color: #ffffff;
    max-width: auto;
    padding: 0 8rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.header-container a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #ffffff93;
    padding: 1rem 2rem;
    border-radius: 1rem;
    transition: background-color 300ms ease-in, 
                color 300ms ease-in;
}

.header-container a:hover{
    color: #00695c;
    background-color: #ffffff;
}

.saludo{
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.header-titulo{
    font-size: 1.8rem;
    padding: 0 8rem;
}

@media (min-width: 968px){
    .header-titulo{
        font-size: 2.8rem;
    }
}