:root {
    --verdeBoton: #439889;
    --blanco: #ffffff;
    --azul: #10b5d3;
    --rojo: #db1111;
    --verde: #19e74d;
}


/* Areas */

.container-groups-area {
    display: flex;
    justify-content: space-between;
}

.groups-area {
    flex-basis: calc(53.3% - 1rem);
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    margin-top: 5rem;
}

.group-inputs-area {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-textarea-area {
    flex-basis: calc(33.3% - 1rem);
    margin-right: 5rem;
}

.group-buttons-area {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}