:root {
    --verdeBoton: #439889;
    --blanco: #ffffff;
    --azul: #10b5d3;
    --rojo: #db1111;
    --verde: #19e74d;
}
/* Areas */
.form-container-area{
    margin: 0 auto;
    width: 100%;
    /* border: 2px solid red; */
}
.container-area{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 768px){
    .container-area{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 1rem;
        margin-bottom: 2rem;
    }
}

.side-input-area{
    flex-basis: calc(49% - 1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 95%;
}
.side-area-textArea{
    flex-basis: calc(49% - 1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 95%;
}

.group-btn-area{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.group-btn-area > *{
    margin: .8rem 0;
}

@media (min-width: 768px){    
    .group-btn-area{
        flex-direction: row;
    }

    .group-btn-area > *{
        margin: .5rem;
    }
}

.input-area{}

.btn-submit-area{
    margin: 9rem auto;
}

/*CSS PARA LOS CONTENEDORES DEL POPUP*/

.pop-display {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000de;
    position: fixed;
    right: 0;
    left: 100%;
    top: 0;
    bottom: 0;
    transition: all 400ms cubic-bezier(0.46, -0.45, 0.64, 0.16);
}
.pop-display-active { left: 0; }
.card-popup { width: 45%; }