.container-groups-evento{
    display: flex;
    justify-content: space-between;
}

.groups-evento{
    flex-basis: calc(53.3% - 1rem);
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    margin-top: 5rem;
}

.group-inputs-evento{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-textarea-evento{
    flex-basis: calc(33.3% - 1rem);
    margin-right: 5rem;
}

.group-buttons-evento{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}


.group-evento-rightSide{
    margin-right: 8rem;
    flex-basis: calc(33.3% - 1rem);
}

.group-textarea-evento{
    width: 100%;
    margin-bottom: 3rem;
}

.group-inputRedes-evento{
    width: 100%;
    display: flex;
    align-items: center;
}

.list-redesSociales{
    margin-top: 1rem;
    list-style: none;
    padding: .5rem 1rem;
    background-color: #0000003a;
    overflow-y: scroll;
    height: 20rem;
}


.list-redesSociales li{
    border-radius: 2rem;
    padding: 1rem 0;
    border-bottom: 1px solid #444444b9;
    margin-bottom: .2rem;
    background-color: #10b6d3a4;
    font-weight: bold;
}

.list-item-redesSociales{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}