.detalle-container{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
}

.detalle-sideA{
    display: flex;
    justify-content: center;
    color: #ffffff;
    background-color: #0e1957;
    flex-basis: calc(31% - 1rem);
}

.detalle-sideA article{
    width: 100%;
    padding: 0 3rem;
    text-align: center;
}

.detalle-sideB{
    display: flex;
    justify-content: center;
    background-color: coral;
    flex-basis: calc(68% - 1rem);
}



/* LISTA DE AREAS */

.listAreasDetailsEvent-list{
    margin: 2rem 0 0 0;
    list-style: none;
    /* border: 1px solid red; */
}

.listAreasDetailsEvent-item{
    transition: all 300ms ease-in-out;
    padding: 1rem;
    border-bottom: 1px solid #ffffff41;
    border-radius: 1rem;
}

.listAreasDetailsEvent-item:hover{
    background-color: rgba(245, 245, 220, 0.335);    
    transform: scale(1.05);
}