.header-background {
    background-color: #00695c;
    color: #ffffff;
    max-width: auto;
    padding: 1rem 10rem;
}

.header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 12rem;
}

.header-container a{
    text-decoration: none;
    color: red;
    text-transform: uppercase;
}

.saludo{
    display: flex;
    align-items: center;
    column-gap: 2rem;
}