.tabla{
    width: 100%;
}
.tabla-background{
    margin: 1rem;
    padding: 0;
    background-color: #DAFFEA;
}

.table-header{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.table-header-container{
    /* border: 1px solid darkred; */
    flex-basis: calc(24.4% - 1rem);
}
