.item-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dark-green{
    background-color: #004d40a1;
}

.item-element{
    flex-basis: calc(24.4% - 1rem);
    /* border: 1px solid darkmagenta; */
}

.item-element p{
    text-align: center;
}

.group-btn{
    display: flex;
    justify-content: space-evenly;
    column-gap: .2rem;
}
