.nav-background {
    background-color: #00695c;
    color: #ffffff;
    max-width: auto;
    padding: 1rem 10rem;
}

.navegacion-principal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 12rem;
    /* flex-direction: row-reverse; */
}

.navegacion-principal a{
    text-decoration: none;
    color: red;
    text-transform: uppercase;
}

.alinear{
    display: flex; justify-content: center; width: 0;
}

/* Voy a centrar todos los elementos de la pagina */


/* margen como un reloj
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  */


/* alinear central y verticalmente */


/* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */